.mat-mdc-button.btn-option {
    width: 32px;
    height: 34px;
    min-width: auto;
    padding: 5px 0 0;
    margin-left: 10px;
    border-radius: 6px;
    color: var(--bodyColor) !important;
    border: 1px solid #e2e8f0;
    i {
        font-size: 18px;
    }
    &:first-child {
        margin-left: 0;
    }
}

.mat-mdc-button-base.custom-button {
    height: auto;
    min-width: auto;
    border-radius: 6px;
    padding: 10px 15px 11px;
    font: {
        size: 15px;
        weight: 500;
        family: var(--headingFontFamily);
    }
}

.default-btn {
    &.mat-mdc-button {
        height: auto;
        min-width: auto;
        border-radius: 6px;
        padding: 10px 15px 11px;
        color: var(--primaryColor);
        background: rgba(55, 97, 238, 0.1);
        font: {
            size: 15px;
            weight: 600;
            family: var(--headingFontFamily);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .mat-mdc-button.btn-option {
        width: 30px;
        height: 32px;
        margin-left: 5px;
        i {
            font-size: 16px;
        }
    }
    .mat-mdc-button-base.custom-button {
        font-size: 12px;
    }

    .default-btn {
        &.mat-mdc-button {
            font-size: 12px;
        }
    }
}
